@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shadows+Into+Light&display=swap');

:root {
  --background: #fff;
  --text: #1e1e1e;
  --title-font: 'Shadows Into Light', cursive;
  --main-font: 'Poppins', sans-serif;
}

body {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #f3f3f3;
  width: 12px;
}

::-webkit-scrollbar-corner {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  height: 30px;
  border-radius: 5px;
}