@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shadows+Into+Light&display=swap');

:root {
  --background: #fff;
  --text: #1e1e1e;
  --title-font: 'Shadows Into Light', cursive;
  --main-font: 'Poppins', sans-serif;
}